@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*css global*/

*{
    margin: 0 0 0 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Raleway", sans-serif;
}

/*cores do projeto*/

:root{
    --cor-fundo: #f1f6fc31;
    --black: #1d1d1b;
    --white: #FFFFFF;
    --Torch-Red: #ea384f;
    --Light-Red: #f28693;
}

body{
    background-color: var(--cor-fundo);
}

/*css para logo e texto sakura*/

.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
}
  
.logo img {
    width: auto; /* Mantém a proporção da imagem */
    height: 50px; /* Ajuste a altura conforme necessário */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}
  
.logo a {
    text-decoration: none; /* Remove o sublinhado do link */
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff; /* Cor do texto */
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    align-items: center;
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
    font-weight: 600;
    color: var(--white);
}
p{
    color: var(--white);
}

/*container reutilizável*/
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: var(--Light-Red);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline {
    from {
        outline: 0px solid var(--Light-Red);
    }
    to {
        outline: 15px solid #4f9bf900;
    }
}

.btn:hover {
    background-color: var(--Torch-Red);
}

.nebula {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita interferência com outros elementos */
    z-index: -1;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--Torch-Red), var(--Light-Red));
    background-size: 200% 200%;
    animation: fadeInOut 4s ease-in-out infinite, moveParticles 6s linear infinite;
}


@keyframes moveParticles {
    0% {
        transform: translateY(-100%) translateX(0);
    }
    50% {
        transform: translateY(800%) translateX(800%);
    }
    100% {
        transform: translateY(1600%) translateX(1400%); 
    }
}

/*css do header*/
header{
    background: var(--black);
    filter: brightness(0.8);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%; 
    margin: 0 0 0 0 ; 
    padding: 0; 
    overflow-x: hidden; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-family: 14px;
    display: block;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: var(--Torch-Red);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 80px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 96px;
    font-weight: 800;
    color: var(--white);
}

/*
.banner .banner-text h1.animate-text {
    animation: animate 4s linear infinite;
    text-shadow: 0 0 0 var(--Light-Red);
}

@keyframes animate {
    0% {
        text-shadow: 0 0 0 #4f9bf900;
    }
    10% {
        text-shadow: 0 0 10px var(--Light-Red);
    }
    20% {
        text-shadow: 0 0 15px var(--Light-Red);
    }
    30% {
        text-shadow: 0 0 20px var(--Light-Red);
    }
    40% {
        text-shadow: 0 0 25px var(--Light-Red);
    }
    50% {
        text-shadow: 0 0 30px var(--Light-Red);
    }
    60% {
        text-shadow: 0 0 25px var(--Light-Red);
    }
    70% {
        text-shadow: 0 0 20px var(--Light-Red);
    }
    80% {
        text-shadow: 0 0 15px var(--Light-Red);
    }
    90% {
        text-shadow: 0 0 10px var(--Light-Red);
    }
    100% {
        text-shadow: 0 0 0 #4f9bf900;
    }
}

*/

.banner .banner-text p{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
}
